<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="Layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title></title>
</head>

<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#"> Hospital Management System </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link" href="home2">Home
						<span class="sr-only">(current)</span>
				</a></li>


				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="dashboard"
					id="navbarDropdownMenuLink" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Dash Board </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="login">Admin</a> <a
							class="dropdown-item" href="doctor">Doctor</a> <a
							class="dropdown-item" href="staff">Staff</a>
					</div></li>

				<li class="nav-item"><a class="nav-link" href="home2">Log
						Out</a></li>
			</ul>
		</div>
	</nav>

	<div class="sidebar">

		<a href="home2" class="item">Home</a> <a href="dashboard" class="item">DashBoard</a>
		<a href="login" class="item">Admin</a> <a href="doctor" class="item">Doctor</a>
		<a href="staff" class="item">Staff</a> <a href="patient" class="item">Patient</a>
		<a href="home2" class="item">Logout</a>

	</div>

	<div class="content">

		<div th:replace=${content}></div>
	</div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>